# Extracted from https://github.com/ulrich/macaron-factory/blob/master/.gitignore
# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# Ignore Play! working directory #
bin
db
eclipse
log
logs
modules
precompiled
project/project
project/target
target
tmp
test-result
server.pid
RUNNING_PID
nohup.out
*.db
*.iml
*.eml
*.tgz
*.zip

!yahoo/bin
rest-webservices
